.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  height: 100svh;
  min-height: 100svh;
  padding: 8px;
  padding-top: 16px;
}

.chatContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 80%;
  overflow: auto;
  border-radius: 1rem;
}


.chatBox{
  padding: 1rem 1.2rem;
  text-wrap: wrap;
  background: var(--gray-alpha-100);
  width: 40%;
  max-width: 1200px;
  min-width: 300px;
  border-radius: 1rem;
  line-height: 150%;
}


.inputContainer{
  display: flex;
  flex-direction: column;
  background-color: var(--gray-alpha-100);
  border-radius: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 720px;
  padding: 0 0 1rem 0;
  margin-top: 1rem;
}

.inputContainer textarea{
  resize: none;
  background: none;
  border: none;
  padding: 1rem;
}

.inputContainer textarea:focus{
  outline: none;
}

.btnContainer{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 1rem;
}

.btnContainer button{
  padding: .5rem 1rem;
  background: #383838;
  color: #f2f2f2;
  border: none;
  border-radius: .25rem;
}

@media (hover: hover){
  .btnContainer button:hover{
    cursor: pointer;
  }
}